<!DOCTYPE html>
<html dir="rtl">
   <header>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   </header>
<body>
  <mat-toolbar color="firebrick">
  
    <button mat-icon-button routerLink="/balanceReport" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><mat-icon>menu</mat-icon></button>
    <button mat-button routerLink="/balanceReport" routerLinkActive="active">מאזן</button>
    <button mat-button routerLink="/depositReport" routerLinkActive="active">הפקדות</button>
    <button mat-button routerLink="/withdrawlReport" routerLinkActive="active">משיכות</button>
    <button mat-button routerLink="/euroReport" routerLinkActive="active">אירו</button>
    <a href="https://www.bankhapoalim.co.il/he">

    <img src="../../../assets/poalim.jpeg" class="img" onerror="this.onerror=null;this.hidden='true';" />
    </a>
    
  </mat-toolbar>

</body>
</html>