
<!--THIS IS FOR THE CHILDREN-->
<router-outlet>
</router-outlet>

<app-favorites [currentCity]="currentCity" [ID]="key" [hidden]="true"></app-favorites><!--(childToParent)="childToParent($event)"-->

 <app-favoriteAdd 
 [currentCity]="currentCity" [temperature]="temperature" [hidden]="true"></app-favoriteAdd>


<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>World Weather - {{selectedCity}}</mat-card-title>
      <mat-card-subtitle>{{message}}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

        
          <section class="example-section">
     
    
                <form [formGroup]="weatherSearchForm" (ngSubmit)="go()">

                    <mat-form-field>
                      <mat-label>City</mat-label>
                      <input matInput placeholder="City" aria-label="State" [matAutocomplete]="auto" formControlName="city"  (input)="onCityChange($event.target.value)" (keyup)="onKeyUpEvent($event.target.value)"  [pattern]="'^[a-zA-Z \-\']$'" required><!--autofocus--><!--(input)="onCityChange($event.target.value)" (change)="onChangeEvent($event.target.value)" (keyup)="onKeyUpEvent($event.target.value)"-->
                      <!--<div *ngIf="weatherSearchForm.controls['city'].invalid && (weatherSearchForm.controls['city'].dirty || weatherSearchForm.controls['city'].touched)" class="alert alert-danger">-->
                        <div *ngIf="weatherSearchForm.controls['city'].errors.required" style="color: red;" >
                            City is required.
                        </div>
                      <!--</div>-->

                      
 


                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn.bind(this)"><!--ORIG [displayWith]="displayFn"-->
                        
                        <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
    
                        <ng-container *ngIf="!isLoading">
    
                          <mat-option *ngFor="let autocomplete of autocompletes" [value]="autocomplete.LocalizedName" (click)="autocomSelection(autocomplete.Key)">
                     
                            <span><b>{{autocomplete.LocalizedName}}</b></span>
                          </mat-option>
                        </ng-container>
                        
                      </mat-autocomplete>
                    </mat-form-field>            
                    <br>             
            
            <br>

              <!--<button mat-button mat-flat-button (click)="findLocationObs()">findLocation</button>-->

  
          </form>

            <br>
            <div class="favbtn" *ngIf="forecasts">
            <button mat-button mat-flat-button color="{{color}}" (click)="goToFavorites()" [disabled]="favBtnDisable">
              <mat-icon>favorite</mat-icon>
            </button>  
            </div>   
          </section>
          <!--<p>-->
          <!--<br>-->
          <mat-grid-list cols="2" rowHeight="250px:100px">
          <mat-grid-tile>

          <div class="wrapper" *ngIf="IsVisible; else serverApiKeyNotAllowed">
            <article class="main" style="background: yellow;">
              <h6><em>Current Weather - {{todayDay}} {{todayDate}}</em></h6>
              <br>
              <mat-label>Weather Description</mat-label>
              <input matInput [(ngModel)]="weatherText">
              <mat-label>Temperature</mat-label>
              <input matInput [(ngModel)]="temperature">
               <!--<mat-label>Weather Icon</mat-label>
               <input matInput [(ngModel)]="weatherIcon" [hidden]="false">-->
           
               <img src="{{todayImage}}" onerror="this.onerror=null;this.hidden='true';" height="50" width="50" />
              </article>
          </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="container">
          
              <div class="form-group">
                <!--<label>Enter address</label>-->
                <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search [hidden]="true"><!--formControlName="search"-->
              </div>
  
  
              <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
                <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
                  (dragEnd)="markerDragEnd($event)"></agm-marker>
              </agm-map>
            
              <!--<h5>Address: {{address}}</h5>
              <div>Latitude: {{latitude}}</div>
              <div>Longitude: {{longitude}}</div>-->
  
            </div>
  
          </mat-grid-tile>
          
          </mat-grid-list>

          <br>
          <ng-template #serverApiKeyNotAllowed>            
            <pre style="color: red;">Sorry, Server requests limit error !</pre>
          </ng-template>

          <!--orig-->
          <!-- <div class="container">
          
            <div class="form-group">
              <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search [hidden]="true">
            </div>


            <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
              <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
                (dragEnd)="markerDragEnd($event)"></agm-marker>
            </agm-map>
          
            <h5>Address: {{address}}</h5>
            <div>Latitude: {{latitude}}</div>
            <div>Longitude: {{longitude}}</div>

          </div>
 -->



         <mat-grid-list cols="2" rowHeight="330px"><!--2:1-->
       
          <ng-container *ngFor="let forecast of forecasts; let i = index" [attr.data-index]="i">
            
            <mat-grid-tile>
            
            <div class="wrapper5">
  
              <article class="main">
                
                <img src="{{forecast.MobileLink}}" onerror="this.onerror=null;this.hidden='true';" height="50" width="50" />

                  <!--<mat-label>Day</mat-label>-->
                <input matInput [(ngModel)]="days[d.getDay() + i]"><!--days[i] todayDay-->
  
                <!--<mat-label>Date</mat-label>-->
                <input matInput [(ngModel)]="forecast.Date">
                <mat-label>Day Phrase</mat-label>
                <input matInput [(ngModel)]="forecast.Day.IconPhrase">
                <mat-label>Night Phrase</mat-label>
                <input matInput [(ngModel)]="forecast.Night.IconPhrase">
  
                <mat-label>Temperature Min</mat-label>
                <input matInput [(ngModel)]="forecast.Temperature.Minimum.Value"> <!--[value]="{{(forecast.Temperature.Minimum.Value - 32) * 5 / 9 }}"-->
              
                <mat-label>Temperature Max</mat-label>
                <input matInput [(ngModel)]="forecast.Temperature.Maximum.Value"><!--[value]="{{(forecast.Temperature.Maximum.Value - 32) * 5 / 9}}"-->

              </article>
  
              </div>
  
            </mat-grid-tile>

            </ng-container>     

         </mat-grid-list>


<!--          <h3 *ngIf="forecasts"><em>5 Days Forecast</em></h3>
          <br>
          <ng-container *ngFor="let forecast of forecasts; let i = index" [attr.data-index]="i">

            
          <div class="wrapper5">

            <article class="main">
              <input matInput [(ngModel)]="days[i]">
              <input matInput [(ngModel)]="forecast.Date">
              <mat-label>Day Phrase</mat-label>
              <input matInput [(ngModel)]="forecast.Day.IconPhrase">
              <mat-label>Night Phrase</mat-label>
              <input matInput [(ngModel)]="forecast.Night.IconPhrase">

              <mat-label>Temperature Min</mat-label>
              <input matInput [(ngModel)]="forecast.Temperature.Minimum.Value"> 
            
              <mat-label>Temperature Max</mat-label>
              <input matInput [(ngModel)]="forecast.Temperature.Maximum.Value">
            </article>

            </div>

          
          </ng-container>-->



   

    </mat-card-content>
    <mat-card-actions>

    </mat-card-actions>
</mat-card>
<pre style="color: red;">{{message}}</pre>



